<table>
  <tbody>
    <% book.book_comments.each do |book_comment| %>
    <tr>

      <td>
        <%= link_to user_path(book_comment.user) do %>
          <%= image_tag book_comment.user.get_profile_image(50,50) %><br>
          <%= book_comment.user.name %>
        <% end %>
      </td>
      <td><%= book_comment.comment %></td>
      <td id="star-rate<%= book_comment.id%>"></td>
      <script>
        $('#star-rate<%= book_comment.id %>').empty();
        $('#star-rate<%= book_comment.id%>').raty({
          size      : 36,
          starOff   : '<%= asset_path('star-off.png') %>',
          starOn    : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          half      : true,
          readOnly: true,
          score: <%= book_comment.rate %>,
        });
      </script>
      <td>
        <% if book_comment.user == current_user %>
          <%= link_to 'Destroy', book_book_comment_path(book, book_comment),
          method: :delete, remote: true, class: "btn btn-danger pull-right" %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>