<table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th>Tag</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% books.each do |book| %>
            <tr>
              <td>
                <%= link_to (book.user) do %>
                  <%= image_tag book.user.get_profile_image(80,80) %>
                <% end %>
              </td>
              <td>
                <%= link_to book_path(book.id) do %>
                  <%= book.title %>
                <% end %>
              </td>
              <td><%= book.body %></td>
              <!-- tag部分 -->
              <td>
                <%= link_to tag_search_path(content: book.tag) do %>
                  <%= book.tag %>
                <% end %>
              </td>

              <td><%= book.created_at %></td>
              <%= render 'rates/index', book: book %>
              <td><%= link_to "コメント数:#{book.book_comments.count}", book_path(book)  %></td>
              <!-- いいね機能部分 -->
              <td class="favorite_<%= book.id %>">
                <%= render 'favorites/btn', book: book %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>