<h1>Editting book</h1>

<% if @book.errors.any? %>
    <h3><%= @book.errors.count %> error prohibited this obj from being saved:</h3>
    <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @book do |f| %>
<lavel>Title</lavel>
<%= f.text_field :title %>
<lavel>Opinion</lavel>
<%= f.text_area :body %>
<%= f.submit 'Update' %>
<% end %>